//Font imports:
@import url('https://fonts.googleapis.com/css?family=Oxygen');

//Colors:
$light-beige: #F5EEE7;
$dark-beige: #F4DECB;
$pink: #dc5bb7;
$light-grey: #F8F8F8;
$dark-gray: #3D3D3D;

//Font presets:
$oxygen: 'Oxygen', sans-serif;

.colpadding {
    padding-left: 40px;
    padding-right: 40px;
}

//.bottommargin {
//    margin-bottom: 30px;
//}

//.leftmargin {
//    margin-left: 45px;
//}
