.rightborder {
    border-style: solid;
    border-width: 2px;
    border-color: $light-grey;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.centered {
    text-align: center;
    margin-bottom: 30px;
}
